body{
    background-color: antiquewhite;
}
.Image{
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-radius:8%;
}
.Headline{
    text-align: center;
}
.list{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}